<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Put pen to paper</p>
    {{#if user}}
        <a href="/entries/add" class="btn btn-dark btn-lg">Make An Entry</a>
    {{else}}
        <a href="/users/login" class="btn btn-dark btn-lg">Enter</a>
    {{/if}}
    
</div>